{% extends 'base.html' %}

{% block title %}
Paroles maiņa :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Mainīt paroli</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.id_old_password.id_for_label }}" class="form-label">Vecā parole:</label>
        <br>
        {{ form.old_password }}
    </div>
    <div class="form-group">
        <label for="{{ form.id_new_password1.id_for_label }}" class="form-label">Jaunā parole:</label>
        <br>
        {{ form.new_password1 }}
    </div>
    <div class="form-group">
        <label for="{{ form.id_new_password2.id_for_label }}" class="form-label">Jaunā parole atkārtoti:</label>
        <br>
        {{ form.new_password2 }}
    </div>
    <hr class="advanced">
    <ul>Noteikumi:
        <li>Parole nedrīkst būt pārāk līdzīga pārējai personīgajai informācijai;</li>
        <li>Parolei ir jābūt vismaz 8 zīmes garai;</li>
        <li>Parole nedrīkst būt no bieži lietotu paroļu saraksta;</li>
        <li>Parole nedrīkst sastāvēt tikai no cipariem.</li>
    </ul>
    <hr class="advanced">
    <button type="submit" class="btn btn-dark">Saglabāt</button>
</form>
{% endblock %}