{% extends 'base.html' %}

{% block title %}
Profila rediģēšana :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Profila rediģēšana</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.id_email.id_for_label }}" class="form-label">E-pasts:</label>
        <br>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="{{ form.id_first_name.id_for_label }}" class="form-label">Vārds:</label>
        <br>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.id_last_name.id_for_label }}" class="form-label">Uzvārds:</label>
        <br>
        {{ form.last_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.id_password.id_for_label }}" class="form-label">Parole:</label>
        <a href="{% url 'change-password' %}" class="color-aqua">Mainīt paroli</a>
    </div>
    <hr class="advanced">
    <button type="submit" class="btn btn-dark">Saglabāt</button>
</form>
{% endblock %}