{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
<a href="{% url 'home2' %}">Apskatīt lapu</a>/
<a href="/admin/password_change/">Paroles maiņa</a>/
<a href="/admin/logout/">Atslēgties</a>
{% endblock %}

{% block nav-global %}{% endblock %}
